{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"bracketSameLine": true,
	"arrowParens": "avoid",

	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],

	"svelteStrictMode": false,
	"svelteAllowShorthand": true
}
